Source: nyancat-patched
Section: misc
Priority: extra
Maintainer: Trevor Joynson (Debian) <debian@trevor.joynson.io>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 3.9.6
Homepage: https://github.com/akatrevorjay/nyancat

Package: nyancat-patched
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nyancat-patched-server
Replaces: nyancat
Conflicts: nyancat
Description: Animated terminal nyancat-patched
 nyancat-patched is a program to display an animated poptart cat in your terminal.
 .
 This is a standalone program only. To serve nyancat-patched to many users, the
 nyancat-patched-server package is required.

Package: nyancat-patched-server
Architecture: all
Depends: nyancat-patched (>= ${source:Version}), ${misc:Depends}
Replaces: nyancat-server
Conflicts: nyancat-server, telnetd
Description: Animated terminal nyancat-patched server configurations
 nyancat-patched-server contains the configurations required to quickly set up a nyancat-patched
 server. This allows the animated poptart cat to be served to many users via
 telnet.
 .
 Installing this package will automatically configure and activate a nyancat-patched
 telnet server.
